.popup {
    width: 300px;
    border-radius: 17px;
    padding-right:30px;
    padding-left:30px;
    padding-top:20px;
    padding-bottom:20px;
}

.col {
    width: 33%;
    font-size: xx-large;
    text-align: center;
    margin: 1%;
    border-radius: 17px;
    vertical-align: middle;
    line-height: 50px;
    background-color: #000;
}

.bg-success {
    background-color: #000;
}


#btnPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 195, 112);
    margin: 5px;
}

#addBtn, #dashboardBtn {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid skyblue;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 10px;
}
  
#addBtn:before, #dashboardBtn:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background : #a32424;
    left: 0;
    bottom: 0;
    transition: all .3s;
    opacity: 0.3;
}
  
#addBtn:hover:before, #dashboardBtn:hover:before {
    width: 100%;
}
  