.listItem {
    list-style-type: none;
    margin: 1rem;
}

.icon {
    float: right;
    margin-right: 20px;
    margin-bottom: 7px;
    cursor: pointer;
}

/* .MuiAccordionSummary-root  {
  pointer-events: none;
} */